<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,Log4net" />
        <section name="agentList" type="Laetus.NT.Base.Platform.PlatformService.ConfigAgentListSection, Laetus.NT.Base.Platform.PlatformService" />
        <section name="agentPriorities" type="Laetus.NT.Base.Platform.PlatformService.AgentPrioritySection, Laetus.NT.Base.Platform.PlatformService" />
        <section name="logger_template" type="Laetus.NT.Base.Platform.DataModel.LoggerTemplateSection, Laetus.NT.Base.Platform.PlatformService" />
    </configSections>
    <log4net>
        <root>
            <level value="VERBOSE" />
            <appender-ref ref="LogFileAppender" />
            <appender-ref ref="Console" />
        </root>

        <logger name="PersistenceApi">
            <level value="DEBUG" />
        </logger>

        <logger name="SDE">
            <level value="TRACE" />
        </logger>
        <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
            <file type="log4net.Util.PatternString" value="logs\PFS.log" />
            <param name="AppendToFile" value="false" />
            <rollingStyle value="Size" />
            <maxSizeRollBackups value="10" />
            <maximumFileSize value="10MB" />
            <staticLogFileName value="true" />
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date [%thread] %-5level %logger  - %message%newline" />
            </layout>
        </appender>
        <appender name="Console" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="ERROR" />
                <foreColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="info" />
                <foreColor value="Green" />
            </mapping>
            <mapping>
                <level value="VERBOSE" />
                <foreColor value="white" />
                <backColor value="purple" />
            </mapping>
            <mapping>
                <level value="DEBUG" />
                <foreColor value="White" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Yellow" />
            </mapping>
            <mapping>
                <level value="FATAL" />
                <foreColor value="White" />
                <backColor value="Red, HighIntensity" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <param name="ConversionPattern" value="%date %-5level [%thread] %logger: %message%newline" />
            </layout>
        </appender>
    </log4net>
    <logger_template>
        <!-- #AGENT# -->
        <logger name="#AGENT_ID#">
            <level value="WARN" />
            <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
                <file type="log4net.Util.PatternString" value="logs\#AGENT#.log" />
                <param name="AppendToFile" value="true" />
                <rollingStyle value="Size" />
                <maxSizeRollBackups value="10" />
                <maximumFileSize value="10MB" />
                <staticLogFileName value="true" />
                <layout type="log4net.Layout.PatternLayout">
                    <param name="ConversionPattern" value="%date [%thread] %-5level %logger  - %message%newline" />
                </layout>
            </appender>
        </logger>
    </logger_template>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <!-- PlatformService Settings -->
        <add key="AgentDirectory" value=".\agents" />
        <add key="SDE.Implementation.Assembly" value="Laetus.NT.Base.Platform.SDE.DDS.dll" />
        <!--<add key="SDE.Implementation.Assembly" value="Laetus.NT.Base.Platform.SDE.DDS.dll" />-->
        <add key="AutomaticLogSplitting" value="true" />

        <add key="attachDebugger" value="false" />

        <add key="InstanceId" value="2174082B-DA91-4F04-A9D1-63B3CE12E8A4" />
        <add key="AgentManager.PurgeRepository" value="false" />
        <add key="AgentManager.UseAssemblyResolver" value="true" />
        <add key="AgentManager.PackageTransferTimeout" value="60000" />

        <add key="domainId" value="87" />
        <!-- Persistence Agent Settings -->
        <add key="StartLocalAgents" value="true" />
        <add key="WaitForPVM" value="false" />
        <add key="ConnectionRetries" value="50" />
        <add key="ClientSettingsProvider.ServiceUri" value="" />
    </appSettings>
    <agentList>
        <agents>
            <!--<agent instanceId="36832729-ADF1-4DB6-BF02-B8D55CE5EBE7" type="Laetus.NT.Core.Persistence" />-->
            <!-- <agent instanceId="9E9A8AF2-F402-4C3F-AEA5-E1BC85C556A6" type="Laetus.NT.Core.ScriptExecutionAgent" /> -->
            <!--<agent instanceId="0B587F03-7A47-4E98-84FC-1C4F3E702888" type="Laetus.NT.Core.CentralizedLogger" /> -->
            <!--<agent instanceId="06B79D77-806B-49C1-A6CF-91005FCCD9CB" type="DummyAuthAgent" />-->
            <!--<agent instanceId="83af3356-b93c-415b-a244-26c3c6b0eec7" type="Laetus.NT.Core.Platform.Line" />-->
            <!--<agent instanceId="8bd4d349-60d4-4abd-b7a3-291999cbb485" type="Laetus.NT.Core.Platform.Cameraserver.Agent" />-->
            <!--<agent instanceId="0f60205b-b870-4ac4-a4a3-2b3626716da2" type="Laetus.NT.Core.MasterDataManager.Agent" />-->
            <!--<agent instanceId="661418a9-835a-4a6b-90e1-1ce8f94205e9" type="Laetus.NT.Core.DeviceReflector.DeviceReflectorAgent" />-->
        </agents>
    </agentList>
    <agentPriorities>
        <priorities>

        </priorities>
    </agentPriorities>
    <system.web>
        <membership defaultProvider="ClientAuthenticationMembershipProvider">
            <providers>
                <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
            </providers>
        </membership>
        <roleManager defaultProvider="ClientRoleProvider" enabled="true">
            <providers>
                <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
            </providers>
        </roleManager>
    </system.web>
    <runtime>
        <!-- the following setting prevents the host from closing when an unhandled exception is thrown -->
        <legacyUnhandledExceptionPolicy enabled="1" />
        <assemblyBinding  xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name = "Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.8.1.0" newVersion="4.8.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Bcl.AsyncInterfaces" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Data.SqlClient" publicKeyToken="23ec7fc2d6eaa4a5" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Configuration" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Configuration.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.FileProviders.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Configuration.FileExtensions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.FileProviders.Physical" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Primitives" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Options" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "Microsoft.Extensions.Caching.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.1.16.0" newVersion="3.1.16.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name = "System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>